.btn {
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.68px;
    width: fit-content;

    &-secondary {
        border: 2px solid #a6b4d8;
        color: #3a29cc;
    }

    &-primary {
        border: 0px;
        background: #3a29cc;
        color: white;
    }
}

.link {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
    color: #3a29cc;
}
