.image-uploader-preview {
    opacity: 1 !important;

    .file-uploader {
        &-filename,
        &-meta,
        &-area {
            display: none !important;
        }
    }

    .preview-image {
        padding: 10px;
    }

    .actions {
        display: none !important;
    }

    .admin__field-label {
        display: none !important;
    }
}
