.delivery-info {
    &-wrapper {
        margin: 16px;
    }

    &-container {
        display: flex;
        gap: 12px;
    }

    &-content {
        display: flex;
        gap: 4px;
    }

    &-visual {
        img {
            width: 24px;
            height: 24px;
        }
    }

    &-cta {
        font-weight: 700;
        text-decoration-line: underline;
        color: #3a29cc;
    }
}
