.pagebuilder-button {
    &-primary,
    &-secondary {
        padding: 12px 32px;
        gap: 20px;
        border-radius: 2px;
    }

    &-primary {
        background: #3A29CC;

        &:hover {
            background: #101625;
        }
    }

    &-secondary {
        color: #3A29CC;
        background: transparent;
        border: 2px solid #3A29CC;

        &:hover {
            background: transparent;
            border: 2px solid #101625;
            color: #101625;
        }
    }

    &-link {
        display: flex;
        padding: 0;
        color: #3A29CC;
        text-decoration: underline;
        font-size: 16px;

        &:hover {
            color: #101625;
        }
    }
}

.btn {
    padding: 12px 32px;
    gap: 20px;
    border-radius: 2px;
    color: #3A29CC;

    &-primary {
        background: #3A29CC;
        color: white;

        &:hover {
            background: #101625;
        }
    }

    &-secondary {
        color: #3A29CC;
        background: transparent;
        border: 2px solid #3A29CC;

        &:hover {
            background: transparent;
            border: 2px solid #101625;
            color: #101625;
        }
    }
}