.content {
    &-block {
        &-title {
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 16px;
            text-align: center;
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 16px;
            text-align: center;
        }
    }
}

.pagebuilder-content-type {
    h1, h2, h3, h4 {
        font-weight: 700;
        margin-bottom: 16px;
        margin-top: 0;
    }

    h1 {
        font-size: 48px;
        line-height: 52px;
    }

    h2 {
        font-size: 36px;
        line-height: 40px; 
    }

    h3 {
        font-size: 28px;
        line-height: 32px;
    }

    h4 {
        font-size: 20px;
        line-height: 28px;
    }
}