body.pagebuilder-drag-menu {
    .pagebuilder-dynamic-content {
        pointer-events: none !important;
    }
}

.pagebuilder-dynamic-content {
    &-placeholder {
        align-items: center;
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        min-height: 300px;

        .placeholder-text {
            color: #aaa6a0;
            font-size: 20px;
            font-weight: lighter;
        }
    }
}